#!/bin/bash

# run `./update.sh` every time a new shell session starts
# this is off by default for privacy and security reasons, turning this on means you get the latest and greatest,
# but it also means things could break and any code I push to the repo gets run automatically
AUTO_UPDATE=false       # RECOMMENDED SETTING: true

# shell config
INSTALL_ZSH=true        # install zsh
SETUP_ZSH=true          # load this repo into zsh
SETUP_BASH=false        # sets up bashrc with my aliases etc
DEFAULT_SHELL="zsh"     # zsh or bash
INSTALL_STARSHIP=true   # install [starship](https://starship.rs/) prompt
SETUP_WELCOME_MSG=true  # sets up a welcome message for the terminal

# tools config
INSTALL_TOOLS=true      # a set of tools that I like to use (more specific configuration below)
SETUP_SSH=false          # install openssh-server and generate an rsa ssh key
SETUP_DIALOUT=true      # add the active user to the DIALOUT group (required to access serial connections)
SETUP_GIT=true          # performs most of the git setup for you
INSTALL_CCACHE=false     # installs ccache binaries and sets up PATH

# SUBTOOLS CONFIG (optional extra tools)
# note: does nothing if INSTALL_TOOLS is set to false
NCDU=true               # NCurses Disk Usage
INSTALL_7Z=true         # install the latest 7zz binary from github and create the alias 7z
HTOP=true               # htop - an interactive process viewer
RUST=true               # install rustup.rs and add the cargo bin folder to path
MCFLY=true              # intelligent, context-sensitive shell search history (ctrl-r)
ADVCPMV=true            # advanced copy/move, use `acp` or `amv` and get a progress bar for your large cp operations
CLIPBOARD=true          # `cb` clipboard for terminal
PYTHON=true             # python3 python2 python3-pip
PYTHON_EXT=true         # python3-venv pip3 virtualenv numpy pandas matplotlib jupyterlab
MORE_TOOLS="ranger screen curl fdisk sshpass"  # additional apt packages to install
